@page "/"
@using System.Text.Json
@inject NavigationManager Navigation
@inject IJSRuntime JS

<PageTitle>Login</PageTitle>


<div id="loginPage" class="login-container">
    <div class="login-form">
        <h1>AUVP</h1>
        <EditForm Model="@loginModel" OnValidSubmit="HandleLoginAsync">
            <div class="form-group">
                <label for="username">Username</label>
                <InputText aria-required="true" @bind-Value="loginModel.Username" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText type="password" aria-required="true" @bind-Value="loginModel.Password" />
            </div>
            <button type="submit" class="login-btn">Login</button>
            @if (showError)
            {
                <div id="errorMessage" class="error-message">Usuário ou senha inválidos</div>
            }
        </EditForm>
    </div>
</div>


@code {
    private LoginModel loginModel = new();
    private bool showError = false;
    List<string> _users = new List<string> { "Admin","Livio","Arianne","Lucas" };

    private async Task HandleLoginAsync()
    {
        var aulas = new List<int>{1,101};
 
        if (_users.Any(a => a.ToLower().Equals(loginModel.Username.ToLower())) && loginModel.Password == "12345")
        {
            await JS.InvokeVoidAsync("localStorage.setItem", "usuarioAtual", loginModel.Username);
            Navigation.NavigateTo("Dashboard"); 
        }
        else
        {
            showError = true;
        }
    }

    public class LoginModel
    {
        public string Username { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
    }
}
